<table>
    <tr><td>Full Name</td><td>Hourlywage</td><td>phone Number</td></tr>
    <%for(var i=0;i<employees.length;i++){%>
    <tr><td><%=employees[i].fullName%></td><td><%=employees[i].hourlyWage%></td><td><%=employees[i].phoneNumber%></td></tr>
    <%}%>
</table>